.DS_Store
*.obj
*.pdb
*.ilk
*.udf
*.pyc
*.sln
ids.json

.idea/
.vscode/

=============== 
Unity generated
===============
Temp/
Library/
PersistentPath/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
*.userprefs.meta
*.csproj
*.pidb
*.suo
*.sln
*.sln.meta
*.user
*.unityproj
*.booproj
AssetBundles.meta
asset_bindle_config.bin
asset_bindle_config.bin.meta
